<% if (typeof user !== 'undefined' && user !== null) { %>
  <% var displayName = user.fullName || 'Guest'; %>
  <% var loggedIn = true; %>
<% } else { %>
  <% var displayName = 'Guest'; %>
  <% var loggedIn = false; %>
<% } %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <% if (loggedIn) { %>
      <a href="/"><img class="nav-item navbar-pic" style="border-radius: 100%;object-fit: cover;margin-right: 8px ;width:50px;height: 50px;" src="<%=user.profileImageUrl%>"/></a>
      <% } %>
    <a class="navbar-brand navbar-title" href="/">BlogMyMind</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blogs</a>
          <ul class="dropdown-menu">
            <li class="dropdown-item">
              <a class="nav-link" href="/blog">Browse</a>
            </li>
            <% if (loggedIn) { %>
              <li class="dropdown-item">
                <a class="nav-link" href="/blog/my">My Blogs</a>
              </li>
            <% } %>
          </ul>
        </li>
        <% if (loggedIn) { %>
          <li class="nav-item">
            <a class="nav-link" href="/add-blog">Add Blog</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link dropdown " href="#">Contact Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= displayName %>
          </a>
          <ul class="dropdown-menu">
            <% if (loggedIn) { %>
                <li class="nav-item dropdown">
                    <a class="dropdown-item" href="/user/profile">
                      Profile
                    </a>
                </li>
                <li class="nav-item dropdown">
                  <form action="/user/logout" method="POST" style="display: inline;">
                    <button type="submit" class="dropdown-item">
                        Logout
                    </button>
                  </form>
                </li>
            <% } else { %>
                <li>
                  <a class="dropdown-item" href="/user/login">Login</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/user/signup">Sign Up</a>
                </li>
            <% } %>
          </ul>
        </li>
        
      </ul>
      <form method="get" action="/search" class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
