<!DOCTYPE html>
<html>
    <%- include('partials/head'); %>
    <body>
    <%- include('partials/navbar') %>
        <main>
            This is the add blog page
        </main>
    <% include('partials/script') %>
    </body>
</html>