<!DOCTYPE html>
<html>
    <%- include('partials/head'); %>
    <body style="background-color: rgba(1, 1, 1, 0.74);">   
    <%- include('partials/navbar'); %>
        <main class="main-home">
            <div class="div-home">
                <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;">Welcome to My Blogging Website</h2>
                <p style="width: 100%;">My very first attempt at an express website. I have utilised <strong><a href="https://expressjs.com/">Express</a></strong> with <strong><a href="https://www.mongodb.com/">MongoDB</a></strong> to create fully fledged website.</p>
                <p style="margin: 0;">I have utilised Express.js for server side rendering with the <strong><a href="https://ejs.co/">EJS</a></strong>  view engine.</p>
                <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;margin-top: 20px;">About Me</h4>
            <p class="text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dic
                Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Enea adwojda dawdjawoij ewajoe.
            </div>
        </main>
    <%- include('partials/script'); %>
    </body>
</html>