<!DOCTYPE html>
<html>
    <%- include('partials/head'); %>
    <body>
    <%- include('partials/navbar'); %>
    <h1>This is the homepage</h1>
    <%- include('partials/script'); %>
    </body>
</html>