<!DOCTYPE html>
<html>
    <%- include('partials/head'); %>
    <body>   
    <%- include('partials/navbar'); %>
        <main style="display: flex;flex-direction: column;row-gap: 10px;
         justify-content: center;align-items: center;
         padding-top: 20px;padding-bottom: 30px;
         ">
            <div style="max-width: 600px;;padding: 20px 30px;
            border: 1px solid rgba(128, 128, 128, 0.324);
            border-radius: 10px;
            display:flex;flex-direction:column;row-gap: 20px;">
                <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;">Welcome to My Blogging Website</h2>
                <p style="width: 100%;">This was my second attempt at making a website. And my first attempt at using <strong><a href="https://expressjs.com/">Express</a></strong> with <strong><a href="https://www.mongodb.com/">MongoDB</a></strong> to create fully fledged website.</p>
                <p style="margin: 0;">I have utilised Express.js for server side rendering with the <strong><a href="https://ejs.co/">EJS</a></strong>  view engine.</p>
                <h4 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;text-align: center;margin-top: 20px;">About Me</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dic
                Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. enea
            </div>
        </main>
    <%- include('partials/script'); %>
    </body>
</html>